* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --binary: "00110111011000100110";
}

body {
  background: #ffffff;
  color: #000000;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  font-size: 14px;
}

body::after {
  content: var(--binary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  font-size: inherit;
  text-align: center;
  word-break: break-all;
  pointer-events: none;
  z-index: 0;
  line-height: 20px;
}

dialog {
  border: 0px solid transparent;
  padding: 2rem;
  max-width: 500px;
  margin: auto;
  background: transparent;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog h2 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.05em;
}

.user-type-dialog {
  gap: 1.5rem;
  display: grid;
  text-align: center;
  background-color: white;
  border-radius: 0.4rem;
  padding: 2rem;
}

.user-type-dialog-logo {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.dialog-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  z-index: 1;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 4rem;
  padding: 1rem;
  filter: blur(5px);
  overflow: hidden;
}

.main-header {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0rem 0rem 1.6rem 0rem;
  border-bottom: 2px solid #000;
}
.main-header-logo {
  width: 3rem;
  height: 3rem;
}

.hero-section {
  text-align: center;
  display: grid;
  gap: 3rem;
}

.hero-header {
  display: grid;
  gap: 1rem;

  & h1 {
    font-weight: 400;
  }
}

.quote {
  text-align: center;
}

.services-grid {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.service-btn {
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 0.4rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  isolation: isolate;

  &:hover {
    transform: translateY(-10%);
    box-shadow: 0px 6px 0px black;
    scale: 1.02;
  }

  &:focus {
    outline: none;
  }
}

.contact {
  display: grid;
  gap: 1.6rem;

  & .contact-header {
    display: grid;
    gap: 1.6rem;
    align-items: center;
    grid-template-columns: 40px auto 1fr;
  }

  & hr {
    border: none;
    border-top: 2px solid #000;
  }

  & .contact-boxs {
    display: grid;
    gap: 1.6rem;
    padding: 0 2rem;

    & .contact-box {
      display: grid;
      gap: 1.6rem;
      align-items: center;
      grid-template-columns: 40px auto 1fr auto 40px;
    }
  }

  & .contact-btn {
    border: 2px solid #000;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      scale: 1.04;
    }
  }

  & .contact-btn::before {
    content: "";
    position: absolute;
    width: 40px;
    height: calc(100% * 2);
    background: linear-gradient(
      to left,
      transparent,
      hsl(from rgb(0, 0, 0) h s l / 0.2),
      transparent
    );
    rotate: 45deg;
    opacity: 0.5;
    transform: translate(-250%, 0%);
    animation: sparkle 3s infinite ease-in;
    animation-delay: 6s;
  }
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: translate(-250%, 0%);
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    transform: translate(250%, 0%);
  }
}

.social-links {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  & hr {
    border: none;
    border-top: 2px solid #000;
  }
}
